# Variables de entorno (SECRETOS)
.env

# Dependencias de Node
node_modules/

# Dependencias y archivos de Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
env/

# Archivos temporales y de salida
uploads/
scratch/
result_test*.json
*.log

# Archivos de sistema
.DS_Store
Thumbs.db
.vscode/
.idea/
